@page
@model TwigaCRM.Pages.Questions.EditModel

@{
    ViewData["Title"] = "Edit - Question";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Edit Call</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Role</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post" class="form-row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Question.Id" />
            <div class="form-group col-12">
                <label asp-for="Question.QuestionDesc" class="control-label"></label>
                <input asp-for="Question.QuestionDesc" class="form-control" />
                <span asp-validation-for="Question.QuestionDesc" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Question.QuestionType" class="control-label"></label>
                <select id="ddlContactCategorys" asp-for="Question.QuestionType" class="form-control" style="width:100%">
                    <option value="">-- select Question Type --</option>
                    <option value="Multiple Choice">Multiple Choice</option>
                    <option value="Radio">Radio</option>
                    <option value="Description">Description</option>
                    <option value="Multiple Choice - System Products">Multiple Choice - System Products</option>
                </select>
                <span asp-validation-for="Question.QuestionType" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Question.CallTypeId">Call Type</label>
                <div class="row">
                    <select id="ddlCallTypes" asp-for="Question.CallTypeId" name="Question.CallTypeId" asp-items="ViewBag.CallTypes" class="form-control pb-1" style="width:100%">
                        <option value="">--  Select Call Type  --</option>
                    </select>
                </div>
                <span asp-validation-for="Question.CallTypeId" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Question.DisplayOrder" class="control-label"></label>
                <input asp-for="Question.DisplayOrder" class="form-control" />
                <span asp-validation-for="Question.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Question.MoreInfo" class="control-label"></label>
                <input asp-for="Question.MoreInfo" class="form-control" />
                <span asp-validation-for="Question.MoreInfo" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label asp-for="Question.Active" class="control-label"></label>
                <input asp-for="Question.Active" class="form-control" />
                <span asp-validation-for="Question.Active" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div>
    <a asp-page="./Questions">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

    <script>
        $(document).ready(function () {
            $("#ddlCallTypes").select2();
        });
    </script>

    <script type="text/javascript">
        $("body").on("change", "#ddlCallTypes", function () {
            $("input[name=CallTypeId]").val($(this).find("option:selected").text());
        });
    </script>