<nav class="main-header navbar navbar-expand navbar-light text-dark row">
    <!-- Left navbar links -->

 @*   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>*@
    <div class="nav-item col-md-9">
        <a class="nav-link text-dark" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </div>

    <!-- Right navbar links -->
    <div class="navbar-nav col-md-3">
        <partial name="_LoginPartial" />
@*        <div class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa" aria-hidden="true" id="darkIcon" onclick="toggleDark"></i>
            </a>
        </div>*@
    </div>
</nav>