@page
@model TwigaCRM.Pages.RAMDailySales.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Edit Daily Collection Report</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Role</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RAMDailySale.Id" />
            <input type="hidden" asp-for="RAMDailySale.RAMDailySaleReportId" />
            <div class="form-group col-md-12">
                <label asp-for="RAMDailySale.MainDistributorId">Main Distributor</label>
                <div class="row">
                    <select id="ddlDistributors" asp-for="RAMDailySale.MainDistributorId" name="RAMDailySale.MainDistributorId" asp-items="ViewBag.MainDistributors" class="form-control" style="width: 100%">
                        <option value="">--  Select Main Distributor  --</option>
                    </select>
                </div>
                <span asp-validation-for="RAMDailySale.MainDistributorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RAMDailySale.DailyAmount" class="control-label"></label>
                <input asp-for="RAMDailySale.DailyAmount" class="form-control" />
                <span asp-validation-for="RAMDailySale.DailyAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div>
    <a asp-page="../RAMDailySales/Details" asp-route-id="@Model.RAMDailySale.RAMDailySaleReportId">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        $(document).ready(function () {
            $("#ddlDistributors").select2({
                dropdownParent: $("#InputModal")
            });
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlDistributors", function () {
            $("input[name=MainDistributorId]").val($(this).find("option:selected").text());
        });
    </script>