@page
@model TwigaCRM.Pages.RAMDailyCollectionReports.EditModel

@{
    ViewData["Title"] = "Edit - D.C.R";
}

<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Edit Daily Collection Report</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Role</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RAMDailyCollectionReport.Id" />

            <div class="form-group col-md-12">
                <label asp-for="RAMDailyCollectionReport.RAMId" class="control-label">R.A.M: </label>
                <input class="form-control" value="@Model.AppUser.FirstName @Model.AppUser.LastName" disabled />
                <input asp-for="RAMDailyCollectionReport.RAMId" class="form-control" value="@Model.AppUser.Id" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="RAMDailyCollectionReport.SalesDate" class="control-label"></label>
                <input asp-for="RAMDailyCollectionReport.SalesDate" class="form-control" />
                <span asp-validation-for="RAMDailyCollectionReport.SalesDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div>
    <a asp-page="../RAMDailyCollections/RAMDailyCollections">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
