@page
@model TwigaCRM.Pages.StockTakes.EditModel

@{
    ViewData["Title"] = "Edit - Stock Record";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
    .select2-selection__rendered {
        line-height: 31px !important;
    }

    .select2-container .select2-selection--single {
        height: 35px !important;
    }

    .select2-selection__arrow {
        height: 34px !important;
    }
</style>
<div class="card">
    <div class="card-header row">
        <h3 class="card-title col-md-10">Edit Stock Record</h3>
        <span class="col-md-2">
            @*<a class="btn btn-success" href="" id="Input" data-toggle="modal" data-target="#InputModal">New Role</a>*@
        </span>
    </div>
    <!-- /.card-header -->
    <div class="card-body row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="StockTake.Id" />
                <div class="form-group">
                    <label asp-for="StockTake.RetailAccountManagerId" class="control-label"></label>
                    <input asp-for="StockTake.RetailAccountManagerId" value="@Model.AppUser.Id" class="form-control" type="hidden" />
                    <input value="@Model.AppUser.Email" class="form-control" disabled />
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="StockTake.ProductId">Product</label>
                    <div class="row">
                        <select id="ddlProducts" asp-for="StockTake.ProductId" name="StockTake.ProductId" asp-items="ViewBag.Products" class="form-control" style="width: 100%">
                            <option value="">--  Select Products  --</option>
                        </select>
                    </div>
                    <span asp-validation-for="StockTake.ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockTake.Quantity" class="control-label"></label>
                    <input asp-for="StockTake.Quantity" class="form-control" />
                    <span asp-validation-for="StockTake.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="StockTake.MainDistributorId">Main Distributor</label>
                    <div class="row">
                        <select id="ddlMainDistributors" asp-for="StockTake.MainDistributorId" name="StockTake.MainDistributorId" asp-items="ViewBag.MainDistributors" class="form-control" style="width: 100%">
                            <option value="">--  Select Main Distributor  --</option>
                        </select>
                    </div>
                    <span asp-validation-for="StockTake.MainDistributorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StockTake.StockTakeDate" class="control-label"></label>
                    <input asp-for="StockTake.StockTakeDate" class="form-control" />
                    <span asp-validation-for="StockTake.StockTakeDate" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div>
    <a asp-page="./StockTakes">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

    <script>
        $(document).ready(function () {
            $("#ddlDistributors").select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#ddlProducts").select2();
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlDistributors", function () {
            $("input[name=MainDistributorId]").val($(this).find("option:selected").text());
        });
    </script>
    <script type="text/javascript">
        $("body").on("change", "#ddlProducts", function () {
            $("input[name=ProductId]").val($(this).find("option:selected").text());
        });
    </script>